<!DOCTYPE html>
<html ng-app="TickTalk">
  <head>
    <meta charset="utf-8">
    <title>Tick Talk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainController as mainCtrl">
    <div ng-repeat="post in mainCtrl.posts | orderBy:'-upvotes'">
      {{post.title}}, with {{post.upvotes}} votes!
    </div>
    </br>
    <form ng-submit="mainCtrl.addPost()">
      <input type="text" ng-model="mainCtrl.title" />
      <input type="submit" value="Post it!" />
    </form>
  </body>
</html>
