  Post title: <h4><a>{{post.title}}</a></h4>
  Post body: <p>{{post.body}}</p>
  <hr>

  <h5>Comments</h5>
  <div class="comment" ng-repeat="comment in post.comments | orderBy:'-rating'">
    <p>{{comment.commentBody}}</p><br>
    by: {{comment.author}}<br>
    Rating: {{comment.rating}}
    <span class="vote" ng-click="incrementRating(comment)"> + </span>
    <span class="vote" ng-click="decrementRating(comment)"> - </span> </br>
  </div>

  <form ng-submit="addComment()">
    <h4>Add a Comment</h4>
    <input type="textarea" ng-model="commentBody" placeholder="Body of the comment" />
    <input type="submit" value="Submit comment!" />
  </form>
