<div ng-repeat="post in mainCtrl.posts | orderBy:'-rating'">
  {{post.title}}, with a rating of {{post.rating}}!
  <span class="vote" ng-click="mainCtrl.incrementRating(post)"> + </span>
  <span class="vote" ng-click="mainCtrl.decrementRating(post)"> - </span>
  <br><br>
  <p>{{post.body}}</p><br>
  <!-- Tags: <span ng-repeat="tag in post.tags"> {{tag}} </span><br> -->
  <a href="#/posts/{{$index}}">Comments</a>
  <hr>
</div>
</br>
<form ng-submit="mainCtrl.addPost()">
  <input type="text" ng-model="mainCtrl.title" placeholder="Title of your post" />
  <input type="textarea" ng-model="mainCtrl.body" placeholder="Body of your post" />
  <!-- <input type="text" ng-model="tags" placeholder="Comma-separated tags related to your post" /> -->
  <input type="submit" value="Post it!" />
</form>
