* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blue;
}

body {
  font-size: 1rem;
}

.vote {
  font-size: 2rem;
  padding-left: 0.5rem;
  font-weight: bolder;
}

input[type="submit"] {
  resize: none;
}

.comment {
  border: 1px solid blue;
}
